.login-box {
    width: 360px;
    margin: 150px auto 50px;
    border:1px solid #ddd;
    border-radius: 5px;
    padding: 15px 10px;
    box-shadow:rgba(0,0,0,0.1) 6px 6px 5px
}

.login-page {
    background-image: url(../../image/bkgnd2.jpg);
    position: fixed;
    top: 0;
    left: 0;
    height: 96%;
    width: 100%;
    z-index: -1
}

.login-blur {
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(2px);
    
}

.login-logo{
    font-size:30px;
    text-align:center;
    margin-bottom:25px;
    font-weight:300;
    color:#ddd;
}

.login-box-body{
    background:#ffffff;
    padding:20px;
    border-top:0;
    color:#666;
}

.login-box-msg{
    margin:0;
    text-align:center;
    padding:0 20px 20px 20px;
}

.item{
    width:100%;
    padding:10px 0;
}

.item label{
    width:57px
}

.item input{
    display:inline-block;
    width:calc(100% - 64px)
}

.login-btn{
    width:100%;
    margin-top:10px;
    outline:none
}
