@{
    ViewBag.Title = "最终结果";
    ViewBag.CurrentTab = "finalwill";
    ViewBag.BoxTitle = "导师选择结果";
    ViewBag.Role = "Student";
}

<div class="box-body">
    <div class="form-group">
        <label class="col-sm-2 control-label">最终确认导师:</label>
        <span>@ViewBag.Final</span>
    </div>
</div>