
@{
    ViewBag.Title = "导师列表";
    ViewBag.CurrentTab = "professor";
    ViewBag.Stage = 2;
    ViewBag.BoxTitle = "导师列表";
}

@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/datatables.net-bs/css/dataTables.bootstrap.css" />
}


    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered table-striped" id="professorTable" data-toggle="table" data-url="/Gao_Admin/getProfessors?p=0" data-row-style="rowStyle">
            <thead>
                <tr>
                    <th data-field="Order" style="font-size:small">序号</th>
                    <th data-field="ProName">姓名</th>
                    <th data-field="ProTitle">职称</th>
                    <th data-formatter="operateFormatter" data-align='center' data-events='operateEvents'>详情</th>
                </tr>
            </thead>
        </table>
    </div>
    <div style="clear:both"></div>

@section script{
    <script src="~/Content/plugins/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script>

        $('#professorTable').DataTable({
            ajax: {
                url: ' https://www.easy-mock.com/mock/5c8324b3e0e0f75c24623747/selection/getPro',
                dataSrc: 'data'
            },
            "columns": [
                {
                    data: function (row, type, set,meta) {
                        return meta.row;
                    }},
                { data: "ProName" },
                { data: "ProTitle" },
                {
                    data: function () {
                        return "无"
                    }}
            ]
        });
    </script>

}

<script>

    function operateFormatter(value, row, index) {

        return [
            '<button type="button" class="btn btn-block btn-info">查看</button> ',
        ].join('');
    }

    window.operateEvents = {

        'click .btn-check': function (e, value, row, index) {
            //  console.log(row);
            var data = {
                'UserId': row["UserId"]
            }
            //window.open(row["ProInfoUrl"]);
            //这里需要换一个url
            //window.location.href = ProfessorInformation(data.UserId).
            window.location.href = "/Gao_JiaoWu/ProfessorInfo?UserId=" + row["UserId"];
        }
    };
</script>


