@{
    ViewBag.Title = "导师列表"; //页面标题
    ViewBag.CurrentTab = "professor"; //用于和侧边栏菜单关联，和文件名称一致即可，用小写
    ViewBag.BoxTitle = "教师列表";//内容区的标题
    ViewBag.Role = "Dean";//页面所属角色
}

@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/datatables.net-bs/css/dataTables.bootstrap.css" />
}

        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-bordered table-striped" id="professorTable">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>职称</th>
                        <th>详情</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="clear:both"></div>

@section script{
    <script src="~/Content/plugins/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/js/changePasswd.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script>

        $('#professorTable').DataTable({
            ajax: {
                url:'/Dean/listProfessors',
                dataSrc: '',
                
            },
            "columns": [
                {
                    data: function (row, type, set,meta) {
                        return meta.row+1;
                    }
                },
                { data: "name" },
                { data: "title" },
                {
                    data: function () {
                        return "<button class='btn btn-primary' id='info'>详情</button>"
                    }
                }
            ]
        });

        $("#professorTable").on("click", "#info", function () {
            var table = $('#professorTable').DataTable();
            var t = $(this).closest('tr')
            var r = table.row(t).data()
            var data = {
                name: r.name,
                title: r.title,
                url: r.infoURL,
                id: r.id,
                stuamount:r.studentamount
            }
            $.cookie('data', JSON.stringify(data));
            location.href = "/Dean/ProfessorInfo?proId="+r.id
        })
    </script>

}



