
@{
    ViewBag.Title = "学生列表";
    ViewBag.CurrentTab = "student";
    ViewBag.BoxTitle = "学生列表";
    ViewBag.Role = "Dean";
}

@section css{
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/datatables.net-bs/css/dataTables.bootstrap.css" />
}
<div class="row col-md-12 col-sm-12 col-xs-12">
    <div style="padding:0 0 15px 15px" class="form-inline">
        <select id="filter-select" class="form-control">
            <option value="0">全部学生</option>
            <option value="1">没有提交信息学生</option>
            <option value="2">没有提交志愿学生</option>
            <option value="3">没有确定导师学生</option>
        </select>
    </div>
    <div style="padding:0 0 15px 15px" class="form-inline">
        <select id="filter-select2" class="form-control">
            <option value="0">全部专业</option>
            <option value="1">人工智能</option>
            <option value="2">青岛研究院</option>
            <option value="3">大数据技术与应用</option>
        </select>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <table id="studentTable" class="table table-bordered table-striped" data-toggle="table" data-url="/Gao_JiaoWu/getStudents?p=0" data-row-style="rowStyle">
        <thead>
            <tr>
                <th>序号</th>
                <th>学号</th>
                <th>名字</th>
                <th>专业</th>
                <th>个人信息情况</th>
                <th>简历提交情况</th>
                <th>两个志愿是否提交</th>
                <th>第一志愿</th>
                <th>第二志愿</th>
                <th>最终确定导师</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
</div>
<div style="clear:both"></div>

@section script{
    <script src="~/Content/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>


    <script>

        //下拉框筛选学生
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var type = $('#filter-select').val();
                switch (type) {
                    case "0": return true;
                    case "1":
                        if (data[4] == "未提交")
                            return true;
                        break;
                    case "2":
                        if (data[5] == "未提交")
                            return true;
                        break;
                    case "3":
                        if (data[6] == "否")
                            return true;
                        break;
                    default: return false;
                }
                return false;
            }
        );

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var type = $('#filter-select2').val();
                switch (type) {
                    case "0": return true;
                    case "1":
                        return data[3] == "人工智能"
                        break;
                    case "2":
                        return data[3] == "青岛研究院"
                        break;
                    case "3":
                        return data[3] == "大数据技术与应用"
                        break;
                    default: return false;
                }
                return false;
            }
        );

        $("#filter-select").change(function () {
            $('#studentTable').DataTable().draw()
        });

        $("#filter-select2").change(function () {
            $('#studentTable').DataTable().draw()
        });

        $('#studentTable').DataTable({
            ajax: {
                url: '/Dean/listStudents',
                dataSrc: ''
            },
            "columns": [
                {
                    data: function (row, type, set, meta) {
                        return meta.row + 1;
                    }
                },
                { data: "id" },
                { data: "name" },
                { data: "Major"},
                {//个人信息
                    data: function (row, type, set, meta) {
                            if (row.infoChecked == false)
                                return "未提交";
                            else
                                return "提交";
                    }
                },
                {//简历提交情况
                    data: function (row, type, set, meta) {
                        if (row.resumeUrl == null) return "未提交";
                        else return "提交";
                    }
                },
                {//是否两个志愿提交
                    data: function (row, type, set, meta) {
                            if (row.willchecked == false)
                                return "否";
                            else
                                return "是";
                    }
                },
                {//第一志愿
                    data: function (row, type, set, meta) {
                        if (row.firstWill != "" && row.finalWill == row.firstWill) return "<span style='display:inline-block;background:green;padding:2px 4px;color:white'>接收</span>";
                        else return "未接收";
                    }
                },
                {//第二志愿
                    data: function (row, type, set, meta) {
                        if (row.secondWill!="" && row.finalWill == row.secondWill) return "<span style='display:inline-block;background:green;padding:2px 4px;color:white'>接收</span>";
                        else return "未接收";
                    }
                },
                {//最终确定导师 公布结果（第8阶段）之前显示为未公布 
                    data: function (row, type, set, meta) {
                        if (stage == 8) return row.finalWill;
                        else return "未公布";
                    }
                },
                {
                    data: function () {
                        return "<button class='btn btn-primary' id='info'>详情</button>"
                    }
                }

            ]
        });

        $("#studentTable").on("click", "#info", function () {
            var table = $('#studentTable').DataTable();
            var t = $(this).closest('tr')
            var r = table.row(t).data()
            location.href = "/Dean/StudentInfo?stuId="+r.id
        })
    </script>
}

