
@{
    ViewBag.Title = "学生列表";
    ViewBag.CurrentTab = "student";
    ViewBag.BoxTitle = "学生列表";
    ViewBag.Role = "Dean";
}

@section css{
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/datatables.net-bs/css/dataTables.bootstrap.css" />
}
<div class="row col-md-12 col-sm-12 col-xs-12">
    <div style="padding:0 0 15px 15px" class="form-inline">
        <select id="filter-select" class="form-control">
            <option value="0">全部学生</option>
            <option value="1">没有提交信息学生</option>
            <option value="2">没有提交志愿学生</option>
            <option value="3">没有确定导师学生</option>
        </select>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <table id="studentTable" class="table table-bordered table-striped" data-toggle="table" data-url="/Gao_JiaoWu/getStudents?p=0" data-row-style="rowStyle">
        <thead>
            <tr>
                <th>序号</th>
                <th>学号</th>
                <th>名字</th>
                <th>信息是否提交</th>
                <th>是否两个志愿提交</th>
                <th>最终确定导师</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
</div>
<div style="clear:both"></div>

@section script{
    <script src="~/Content/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>


    <script>

        //下拉框筛选学生
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var type = $('#filter-select').val();
                switch (type) {
                    case "0": return true;
                    case "1":
                        if (data[3] == "否")
                            return true;
                        break;
                    case "2":
                        if (data[4] == "否")
                            return true;
                        break;
                    case "3":
                        if (data[5] != "")
                            return true;
                        break;
                    default: return false;
                }
                return false;
            }
        );

        $("#filter-select").change(function () {
            $('#studentTable').DataTable().draw()
        });

        $('#studentTable').DataTable({
            ajax: {
                url: ' https://www.easy-mock.com/mock/5c96bc9d195f475394b7fb54/select/stulist',
                dataSrc: 'data'
            },
            "columns": [
                {
                    data: function (row, type, set, meta) {
                        return meta.row + 1;
                    }
                },
                { data: "id" },
                { data: "name" },
                { data: "infochecked" },
                { data: "willchecked" },
                { data: "finalwill" },
                {
                    data: function () {
                        return "<button class='btn btn-primary' id='info'>详情</button>"
                    }
                }

            ]
        });

        $("#studentTable").on("click", "#info", function () {
            var table = $('#studentTable').DataTable();
            var t = $(this).closest('tr')
            var r = table.row(t).data()
            var data = {
                name: r.name,
                id: r.id,
                age: r.age,
                major: r.major,
                phone: r.phone,
                onthejob: r.onthejob,
                mail: r.stumail,
                resumeurl: r.resumeurl,
                firstwill: r.firstwill,
                secondwill: r.secondwill,
                dispensedwill: r.dispensedwill,
                finalwill: r.finalwill
            }
            $.cookie('data', JSON.stringify(data));
            location.href = "/Dean/StudentInfo"
        })
    </script>
}

