
@{
    ViewBag.Title = "学生列表";
    ViewBag.CurrentTab = "student";
    ViewBag.BoxTitle = "学生主页";
    ViewBag.Role = "Dean";
}

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-body">
                    @*<div class="form-group">
            <label>姓名</label>
            <a class="pull-right">sdjf</a>
        </div>
        <div class="form-group">
            <label>姓名</label>
            <a class="pull-right"></a>
        </div>
        <div class="form-group">
            <label>姓名</label>
            <a class="pull-right"></a>
        </div>
        <div class="form-group">
            <label>姓名</label>
            <a class="pull-right"></a>
        </div>*@
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <label>姓名</label>
                            <label class="pull-right"></label>
                        </li>
                        <li class="list-group-item">
                            <b>学号</b>
                            <label class="pull-right"></label>
                        </li>
                        <li class="list-group-item">
                            <b>年龄</b>
                            <label class="pull-right"></label>
                        </li>
                        <li class="list-group-item">
                            <b>专业</b>
                            <label class="pull-right"></label>
                        </li>
                        <li class="list-group-item">
                            <b>电话</b>
                            <label class="pull-right"></label>
                        </li>
                        <li class="list-group-item">
                            <b>在职情况</b>
                            <label class="pull-right"></label>
                        </li>
                        <li class="list-group-item">
                            <b>邮箱</b>
                            <label class="pull-right"></label>
                        </li>
                        <li class="list-group-item">
                            <b>学生简历</b>
                            <a class="pull-right" href="">
                                <i class="fa fa-download"></i>
                                下载简历
                            </a>
                        </li>
                    </ul>
                </div>
                
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-body">
                    <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>第一志愿</b>
                        <label class="pull-right"></label>
                    </li>
                    <li class="list-group-item">
                        <b>第二志愿</b>
                        <label class="pull-right"></label>
                    </li>
                    <li class="list-group-item">
                        <b>最终导师</b>
                        <label class="pull-right"></label>
                    </li>
                    <li class="list-group-item">
                        <b>调剂导师</b>
                        <label class="pull-right"></label>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

