@{
    ViewBag.Title = "最终学生名单";
    ViewBag.CurrentTab = "final";
    ViewBag.BoxTitle = "最终学生名单";
    ViewBag.Role = "Professor";
}
@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/datatables.net-bs/css/dataTables.bootstrap.css" />
}

<div class="row">
    <div class="col-sm-12">
        <label> 已选择学生列表</label>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <table id="selectedTable" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>专业方向</th>
                <th>脱产/在职</th>
                <th>毕业学校</th>
                <th>毕业专业</th>
                <th>邮箱</th>
                <th>学生志愿</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
</div>
@section script{
    <script src="~/Content/plugins/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script>

        var table = $('#selectedTable').DataTable({
            ajax: {
                url: '/Professor/getSelectedStudents',

                dataSrc: ''
            },
            "columns": [
                {
                    data: "id"
                },
                { data: "name" },
                { data: function (row, type, set, meta) { return row.gender ? "男" : "女" } },
                { data: "age" },
                { data: "major" },
                { data: function (row, type, set, meta) { return row.onTheJob ? "在职" : "脱产" } },
                { data: "graSchool" },
                { data: "graMajor" },
                { data: function (row, type, set, meta) { return row.will==1 ? "第一志愿" : "第二志愿" } },
                { data: "email" },
                {
                    data: function (row, type, set, meta) {
                        return [
                            '<button type="button" class="btn btn-info" onclick="viewStudentInfo(this)"> 查看学生信息 </button> ',
                            '<button type="button" class="btn btn-success" onclick="downloadStudentResume(this)"> 下载个人简历 </button> ',
                    ].join('');
                    }
                }
            ],
            dom: "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'p>>",
            language: {
                url:"/Content/plugins/datatables.net/Chinese.json"
            },
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "全部"]]
        });

        //表格行内“查看学生信息”按钮的点击事件
        function viewStudentInfo(btn) {
            var tr = $(btn).closest('tr');
            var row = table.row(tr).data();
            window.open("/Professor/Student?stuID=" + row.id)
        }

        //表格行内“下载个人简历”按钮的点击事件
        function downloadStudentResume(btn) {
            var tr = $(btn).closest('tr');
            var row = table.row(tr).data();


            var a = document.createElement('a');
            var event = new MouseEvent('click');
            a.download = row.id+'-'+row.name+'-简历.doc';
            a.href = row.resumeUrl;
            a.dispatchEvent(event)
        }

    </script>

}
