@{
    ViewBag.Title = "第一志愿选择";
    ViewBag.CurrentTab = "index";
    ViewBag.Stage = 2;
    ViewBag.BoxTitle = "第一志愿选择";
    ViewBag.Role = "Professor";
}
@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/datatables.net-bs/css/dataTables.bootstrap.css" />
}


    <div class="row">
        <div class="col-sm-12">
            <h3>
                <label> 截至时间:@ViewData["EndTime"]</label>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <label> 申请学生列表</label>
        </div>
        <div class="col-sm-6">
            <label>您还可以选择学生数量为：</label><label id="selectNum">@ViewData["SelectNum"]</label>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered table-striped table-hover" id="firstChoiceTable">
            <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>专业方向</th>
                    <th>脱产/在职</th>
                    <th>毕业学校</th>
                    <th>毕业专业</th>
                    <th>邮箱</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <label> 已选择学生列表</label>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered table-striped table-hover" id="haveChosenTable">
            <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>专业方向</th>
                    <th>脱产/在职</th>
                    <th>毕业学校</th>
                    <th>毕业专业</th>
                    <th>邮箱</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
    </div>
        <div style="clear:both"></div>

@section script{
    <script src="~/Content/plugins/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script>

        $('#haveChosenTable').DataTable({
            ajax: {
                url: 'https://www.easy-mock.com/mock/5c8368e622c6e01a284aae50/selection-mock/',

                dataSrc: 'data'
            },
            "columns": [
                {
                    data: function (row, type, set,meta) {
                        return meta.row;
                    }
                },
                { data: "ProName" },
                { data: "ProTitle" },
                { data: "age"},
                { data: "direction" },
                { data: "boolean" },
                { data: "school" },
                { data: "major" },
                { data: "email" },
                {
                    data: function (row, type, set, meta) {
                        return [
                            '<button type="button" class="btn btn-block btn-info" style="width:45%;display:inline;vertical-align:baseline;"> 查看学生信息</button> ',
                            '<button type="button" class="btn btn-block btn-success" style="width:45%;display:inline;vertical-align:baseline;"> 下载个人简历</button> ',
                        ].join('');
                    }
                }
            ]
        });
        $('#firstChoiceTable').DataTable({
            ajax: {
                url: 'https://www.easy-mock.com/mock/5c8368e622c6e01a284aae50/selection-mock/',

                dataSrc: 'data'
            },
            "columns": [
                {
                    data: function (row, type, set, meta) {
                        return meta.row;
                    }
                },
                { data: "ProName" },
                { data: "ProTitle" },
                { data: "age" },
                { data: "direction" },
                { data: "boolean" },
                { data: "school" },
                { data: "major" },
                { data: "email" },
                {
                    data: function (row, type, set, meta) {
                        return [
                            '<button type="button" class="btn btn-block btn-info" style="width:45%;display:inline;vertical-align:baseline;"> 查看学生信息</button> ',
                            '<button type="button" class="btn btn-block btn-success" style="width:45%;display:inline;vertical-align:baseline;"> 下载个人简历</button> ',
                        ].join('');
                    }
                }
            ]
        });
    </script>

}
