@{
    ViewBag.Title = "第一志愿选择";
    ViewBag.CurrentTab = "index";
    ViewBag.Stage = 2;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <div id="page-wrapper">

            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>
                            <label> 截至时间:@ViewData["EndTime"]</label>
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label> 申请学生列表</label>
                    </div>
                    <div class="col-sm-6">
                        <label>您还可以选择学生数量为：</label><label id="selectNum">@ViewData["SelectNum"]</label>
                    </div>

                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table id="waitSelectTable" data-toggle="table" data-url="/Professor/getStudents">
                        <thead>
                            <tr>
                                <th data-field="StuID">学号</th>
                                <th data-field="StuName">姓名</th>
                                <th data-field="Gender">性别</th>
                                <th data-field="Age">年龄</th>
                                <th data-field="StuMajor">专业方向</th>
                                <th data-field="StuIfWork" data-formatter="operateFormatter_Work">脱产/在职</th>
                                <th data-field="StuGraSchool">毕业学校</th>
                                <th data-field="StuGraMajor">毕业专业</th>
                                <th data-field="StuTel">电话</th>
                                <th data-formatter="operateFormatter" data-align='center' data-events='operateEvents'>操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div>

                <div class="row">
                    <div class="col-sm-12">
                        <label> 已选择学生列表</label>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table id="selectedTable" data-toggle="table" data-url="/Professor/getStudentsOfProfessorToStudent">
                        <thead>
                            <tr>
                                <th data-field="StuID">学号</th>
                                <th data-field="StuName">姓名</th>
                                <th data-field="Gender">性别</th>
                                <th data-field="Age">年龄</th>
                                <th data-field="StuMajor">专业方向</th>
                                <th data-field="StuIfWork" data-formatter="operateFormatter_Work">脱产/在职</th>
                                <th data-field="StuGraSchool">毕业学校</th>
                                <th data-field="StuGraMajor">毕业专业</th>
                                <th data-field="StuTel">电话</th>
                                <th data-formatter="operateFormatter2" data-align='center' data-events='operateEvents2'>操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="clear:both"></div>
            </div>




            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>

</body>
</html>
