@{
    ViewBag.Title = "第一志愿选择";
    ViewBag.CurrentTab = "index";
    ViewBag.Stage = 2;
    ViewBag.BoxTitle = "第一志愿选择";
    ViewBag.Role = "Professor";
}
@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/datatables.net-bs/css/dataTables.bootstrap.css" />
}


<div class="row">
    <div class="col-sm-12">
        <h3>
            <label> 截至时间:@ViewData["EndTime"]</label>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <label> 申请学生列表</label>
    </div>
    <div class="col-sm-6">
        <label>您还可以选择学生数量为：</label><label id="selectNum">@ViewData["SelectNum"]</label>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <table class="table table-bordered table-striped table-hover" id="firstChoiceTable">
        <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>专业方向</th>
                <th>脱产/在职</th>
                <th>毕业学校</th>
                <th>毕业专业</th>
                <th>邮箱</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
</div>

<div class="row">
    <div class="col-sm-12">
        <label> 已选择学生列表</label>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <table class="table table-bordered table-striped table-hover" id="haveChosenTable">
        <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>专业方向</th>
                <th>脱产/在职</th>
                <th>毕业学校</th>
                <th>毕业专业</th>
                <th>邮箱</th>
                <th>学生志愿</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
</div>
<div style="clear:both"></div>

@section script{
    <script src="~/Content/plugins/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script>

        var haveChosenTable = $('#haveChosenTable').DataTable({
            ajax: {
                url: '/Professor/getSelectedStudents',

                dataSrc: ''
            },
            "columns": [
                {
                    data: "id"
                },
                { data: "name" },
                { data: function (row, type, set, meta) {return row.gender?"男":"女"} },
                { data: "age" },
                { data: "major" },
                { data: "onTheJob" },
                { data: "graSchool" },
                { data: "graMajor" },
                { data: "email" },
                { data: "will" },
                {
                    data: function (row, type, set, meta) {
                        return [
                            '<button type="button" class="btn btn-info" onclick="viewStudentInfo1(this)"> 查看学生信息 </button> ',
                            '<button type="button" class="btn btn-warning" onclick="downloadStudentResume1(this)"> 下载个人简历 </button> ',
                            '<button type="button" class="btn btn-error" onclick="deleteStudent(this)"> 删除 </button> '
                        ].join('');
                    }
                }
            ]
        });
        var firstChoiceTable = $('#firstChoiceTable').DataTable({
            ajax: {
                url: '/Professor/getFirstWillStudents',
                dataSrc: ''
            },
            "columns": [
                {
                    data: "id"
                },
                { data: "name" },
                { data: function (row, type, set, meta) { return row.gender ? "男" : "女" } },
                { data: "age" },
                { data: "major" },
                { data: "onTheJob" },
                { data: "graSchool" },
                { data: "graMajor" },
                { data: "email" },
                {
                    data: function (row, type, set, meta) {
                        return [
                            '<button type="button" class="btn btn-info" onclick="viewStudentInfo2(this)"> 查看学生信息 </button> ',
                            '<button type="button" class="btn btn-warning" onclick="downloadStudentResume2(this)"> 下载个人简历 </button> ',
                            '<button type="button" class="btn btn-success" onclick="chooseStudent(this)"> 选择 </button> '
                        ].join('');
                    }
                }
            ],
            dom: "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'p>>",
            language: {
                url: "/Content/plugins/datatables.net/Chinese.json"
            },
            lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "全部"]]
        });
        //第一志愿的学生列表行内的按钮事件
        function viewStudentInfo2(btn) {
            var tr = $(btn).closest('tr');
            var row = firstChoiceTable.row(tr).data();
            window.open("/Professor/Student?stuID="+row.id)
        }

        function downloadStudentResume2(btn) {
            var tr = $(btn).closest('tr');
            var row = firstChoiceTable.row(tr).data();

            var a = document.createElement('a');
            var event = new MouseEvent('click');
            a.download = '双选系统-学生简历打包.zip';
            //a.href = row.
            a.dispatchEvent(event)
        }

        //已经选择的学生列表内的按钮事件
        function viewStudentInfo1(btn) {
            var tr = $(btn).closest('tr');
            var row = haveChosenTable.row(tr).data();
            window.open("/Professor/Student?stuID=" + row.id)
        }

        function downloadStudentResume1(btn) {
            var tr = $(btn).closest('tr');
            var row = haveChosenTable.row(tr).data();
            alert("下载学生" + row.name + "的简历");
        }
        //删除已经选择学生
        function deleteStudent(btn) {
            var tr = $(btn).closest('tr');
            var row = haveChosenTable.row(tr).data();
            $.gyAlert({
                contentText: "确认删除该学生?",
                confirm: function () {
                    var data = {
                        id: row.id
                    };
                    $.post("/Professor/deleteSelectedStudent", data, function (rdata) {
                        if (rdata == "success") {
                            firstChoiceTable.ajax.reload();
                            haveChosenTable.ajax.reload();
                            $.gyAlert({
                                title: "删除成功",
                                contentText: "您已成功删除该学生"
                            });
                        }
                        else
                            $.gyAlert({
                                title: "删除失败",  
                                contentText: rdata,
                                cancelButton: false
                            });
                    });
                },
                cancelButtonText: "取 消"
            });
        }
        //选择学生
        function chooseStudent(btn) {
            var tr = $(btn).closest('tr');
            var row = firstChoiceTable.row(tr).data();
            $.gyAlert({
                contentText: "确认选择该学生?",
                confirm: function () {
                    var data = {
                        stuId: row.id
                    };
                    $.post("/Professor/selectFirstWillStudent", data, function (rdata) {
                        if (rdata == "success") {
                            firstChoiceTable.ajax.reload();
                            haveChosenTable.ajax.reload();
                            $.gyAlert({
                                title: "选择成功",
                                contentText: "您已成功选择该学生"
                            });
                        }
                        else
                            $.gyAlert({
                                title: "选择失败",
                                contentText: rdata,
                                cancelButton: false
                            });
                    });
                },
                cancelButtonText: "取 消"
            });
        }
    </script>

}
