@{
    ViewBag.Title = "二次选择";
    ViewBag.CurrentTab = "second";
    ViewBag.BoxTitle = "二次选择";
    ViewBag.Role = "Professor";
}
@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/datatables.net-bs/css/dataTables.bootstrap.css" />
}

<div>
    <div class="row">
        <div class="col-sm-12">
            <h3>
                <label> 截至时间:@ViewBag.EndTime</label>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <label> 申请学生列表</label>
        </div>
        <div class="col-sm-6">
            <label>您还可以选择学生数量为：</label><label id="selectNum">@ViewBag.RemainNum</label>
        </div>

    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="waitChooseTable" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>专业方向</th>
                    <th>脱产/在职</th>
                    <th>毕业学校</th>
                    <th>毕业专业</th>
                    <th>邮箱</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div>

    <div class="row">
        <div class="col-sm-12">
            <label> 已选择学生列表</label>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="selectedTable" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>专业方向</th>
                    <th>脱产/在职</th>
                    <th>毕业学校</th>
                    <th>毕业专业</th>
                    <th>邮箱</th>
                    <th>学生志愿</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
    </div>

    <div style="clear:both"></div>
</div>

@section script{
    <script src="~/Content/plugins/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script>

        var waitChooseTable = $('#waitChooseTable').DataTable({
            ajax: {
                url: '/Professor/getSecondWillStudents',

                dataSrc: ''
            },
            "columns": [
                {
                    data: "id"
                },
                { data: "name" },
                { data: function (row, type, set, meta) { return row.gender ? "男" : "女" } },
                { data: "age"},
                { data: "major" },
                { data: function (row, type, set, meta) { return row.onTheJob ? "在职" : "脱产" } },
                { data: "graSchool" },
                { data: "graMajor" },
                { data: "email" },
                {
                    data: function (row, type, set, meta) {
                        return [
                            '<button type="button" class="btn btn-info" onclick="viewUnselectedStudentInfo(this)"> 查看学生信息 </button> ',
                            '<button type="button" class="btn btn-warning" onclick="downloadUnselectedStudentResume(this)"> 下载个人简历 </button> ',
                            stage==6?'<button type="button" class="btn btn-success" onclick="chooseStudent(this)"> 选择 </button> ':''
                        ].join('');
                    }
                }
            ],
            dom: "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'p>>",
            language: {
                url: "/Content/plugins/datatables.net/Chinese.json"
            },
            lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "全部"]]
        });
        var selectedTable = $('#selectedTable').DataTable({
            ajax: {
                url: '/Professor/getSelectedStudents',
                dataSrc: ''
            },
            "columns": [
                {
                    data: "id"
                },
                { data: "name" },
                { data: function (row, type, set, meta) { return row.gender ? "男" : "女" } },
                { data: "age" },
                { data: "major" },
                { data: function (row, type, set, meta) { return row.onTheJob ? "在职" : "脱产" } },
                { data: "graSchool" },
                { data: "graMajor" },
                { data: function (row, type, set, meta) { return row.will==1 ? "第一志愿" : "第二志愿" } },
                { data: "email" },
                {
                    data: function (row, type, set, meta) {
                        return [
                            '<button type="button" class="btn btn-info" onclick="viewSelectedStudentInfo(this)"> 查看学生信息 </button> ',
                            '<button type="button" class="btn btn-warning" onclick="downloadSelectedStudentResume(this)"> 下载个人简历 </button> ',
                            stage==6?'<button type="button" class="btn btn-error" '+(row.will==1?'disabled="disabled"':'')+' onclick="deleteStudent(this)"> 删除 </button> ':''
                        ].join('');
                    }
                }
            ],
            dom: "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'p>>",
            language: {
                url: "/Content/plugins/datatables.net/Chinese.json"
            },
            lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "全部"]]
        });

        //已经选择的学生的表格行内按钮的点击事件
        function viewSelectedStudentInfo(btn) {
            var tr = $(btn).closest('tr');
            var row = selectedTable.row(tr).data();
            window.open("/Professor/Student?stuID=" + row.id)
        }
        function downloadSelectedStudentResume(btn) {
            var tr = $(btn).closest('tr');
            var row = selectedTable.row(tr).data();
            var a = document.createElement('a');
            var event = new MouseEvent('click');
            a.download = row.id + '-' + row.name + '-简历.doc';
            a.href = row.resumeUrl;
            a.dispatchEvent(event);
        }
        //没选择的学生的表格行内按钮的点击事件
        function viewUnselectedStudentInfo(btn) {
            var tr = $(btn).closest('tr');
            var row = waitChooseTable.row(tr).data();
            window.open("/Professor/Student?stuID=" + row.id)
        }
        function downloadUnselectedStudentResume(btn) {
            var tr = $(btn).closest('tr');
            var row = waitChooseTable.row(tr).data();
            var a = document.createElement('a');
            var event = new MouseEvent('click');
            a.download = row.id + '-' + row.name + '-简历.doc';
            a.href = row.resumeUrl;
            a.dispatchEvent(event);
        }

        function deleteStudent(btn) {
            var tr = $(btn).closest('tr');
            var row = selectedTable.row(tr).data();
            $.gyAlert({
                contentText: "确认删除该学生?",
                confirm: function () {
                    var data = {
                        stuId: row.id
                    };
                    $.post("/Professor/deleteSelectedStudent", data, function (rdata) {
                        if (rdata == "success") {
                            waitChooseTable.ajax.reload();
                            selectedTable.ajax.reload();
                            $("#selectNum").text(parseInt($("#selectNum").text()) + 1);
                        }
                        else
                            $.gyAlert({
                                title: "删除失败",
                                contentText: rdata.substring(5),
                                cancelButton: false
                            });
                    });
                },
                cancelButtonText: "取 消"
            });
        }

        function chooseStudent(btn) {
            var tr = $(btn).closest('tr');
            var row = waitChooseTable.row(tr).data();
            if ($("#selectNum").text() == '0') {
                $.gyAlert({
                    title:"选择失败",
                    contentText: "您已选择的学生数已达到名额上限！",
                    cancelButton: false
                });
                return;
            } 
            $.gyAlert({
                contentText: "确认选择该学生?",
                confirm: function () {
                    var data = {
                        stuId: row.id
                    };
                    $.post("/Professor/selectSecondWillStudent", data, function (rdata) {
                        if (rdata == "success") {
                            waitChooseTable.ajax.reload();
                            selectedTable.ajax.reload();
                            $("#selectNum").text(parseInt($("#selectNum").text()) - 1);
                        }
                        else
                            $.gyAlert({
                                title: "选择失败",
                                contentText: rdata.substring(5),
                                cancelButton: false
                            });
                    });
                },
                cancelButtonText: "取 消"
            });
        }
    </script>

}
