
@{
    ViewBag.Title = "Index";
    ViewBag.CurrentTab = "index";
    ViewBag.Stage = 2;
    ViewBag.BoxTitle = "教师信息";
    ViewBag.Role = "Admin";
}
@section css{
    <link href="~/Content/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/fileinput/css/fileinput.min.css" rel="stylesheet" />
}
<div id="page-wrapper">
    <div class="box">
        <div style="padding-left:10px;padding-top:10px">
            <button id="uploadProfessors" class="btn btn-block btn-primary bg-light-blue color-palette" style="width:8%;display:inline;vertical-align:baseline;">上传教师</button>
            <button id="addProfessor" class="btn btn-block btn-primary bg-green color-palette" style="width:8%;margin-left:5px;display:inline;vertical-align:baseline;">新增教师</button>
        </div>
        <div class="box-body">
            <div id="professor-table" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" data-field="ProName" style="width: 75px;">姓名</th>
                                    <th class="sorting" data-field="ProTitle" style="width: 75px;">职称</th>
                                    <th class="sorting" data-field="ProPlace" style="width: 60px;">最多名额</th>
                                    <th class="sorting" data-field="FirstChoice" style="width: 80px;">第一志愿已选人数</th>
                                    <th class="sorting" data-field="SecondChoice" style="width: 80px;">第二志愿已选人数</th>
                                    <th class="sorting" data-field="DistributeNumber" style="width: 60px;">分配人数</th>
                                    <th class="sorting" data-field="RestPlace" style="width: 60px;">剩余名额</th>
                                    <th class="sorting" style="width: 100px;" data-formatter="operateFormatter" data-align='center' data-events='operateEvents'>操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>

</div>
<div style="clear:both">

    <!-- /. ROW  -->
</div>
<!-- /. PAGE INNER  -->
<!-- /. PAGE WRAPPER  -->
<!--以下是批量创建教师模态框-->
<div class="modal" id="batchAdd-professors-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>请上传xlsx或xls文件</h4>
            </div>
            <div class="modal-body">
                <a href="~/ExcelFiles/template/教师批量录入.xlsx" class="form-control" style="margin-bottom:10px">下载导入模板</a>
                <input id="input-file" type="file" data-preview-file-type="text" name="file">
            </div>
        </div>
    </div>
</div>
<!--以上是批量创建教师模态框-->
<!--以下是直接新增教师模态框-->
<div class="modal" id="directAdd-professor-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="height:435px">
            <div class="modal-header" style="padding-left:25px">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>新增教师</h4>
            </div>
            <div class="modal-body">
                <form style="height:80%">
                    <div class="row" style="width:45%;display:inline;vertical-align:baseline;padding-left:50px;">
                        <div class="column" style="float:left;padding-left:20px">
                            <label>姓名</label><label style="color:red">&nbsp;*</label>
                            <input id="name-input" type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                        <div class="column" style="float:left;padding-left:50px">
                            <label>工号</label><label style="color:red">&nbsp;*</label>
                            <input id="number-input" type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                    </div>
                    <div class="row" style="width:45%;display:inline;vertical-align:baseline;padding-left:50px;">
                        <div class="column" style="float:left;padding-left:20px">
                            <label>职称</label><label style="color:red">&nbsp;*</label>
                            <input id="rank-input" type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                        <div class="column" style="float:left;padding-left:50px">
                            <label>最大招收学生数</label><label style="color:red">&nbsp;*</label>
                            <input id="maxstudent-input" type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                    </div>
                    <div class="row" style="width:45%;display:inline;vertical-align:baseline;padding-left:50px;">
                        <div class="column" style="float:left;padding-left:20px">
                            <label>介绍界面URL</label><label style="color:red">&nbsp;*</label>
                            <input id="url-input" type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                    </div>
                </form>
                <div style="float:right;padding-right:20px;padding-top:25px">
                    <button id="addProfessor-submit-button" type="submit" class="btn btn-primary">确认提交</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--以上是直接新增教师模态框-->
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<!-- Bootstrap Js -->
<script src="~/Content/plugins/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="~/Content/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/Content/plugins/fileinput/js/fileinput.min.js"></script>
<script src="~/Content/plugins/fileinput/js/zh.js"></script>
<script src="~/Content/js/gy-alert.js"></script>
<script>

    var userType = 0;
    function checkprofessor(btn) {
        var tr = $(btn).closest('tr');
        var row = $('#professor-table').DataTable().row(tr).data();
        window.open("https://www.baidu.com?" + row.url);
    }
    function deleteprofessor(btn) {
        var tr = $(btn).closest('tr');
        var row = $('#professor-table').DataTable().row(tr).data();
        $.gyAlert({
            contentText: "确认删除该教师吗?",
            confirm: function () {
                var data = {
                    userId: row.id
                };
                $.post("/Admin/deleteSingleProfessor", data, function (rel) {
                    if (rel == "success") {
                        table.ajax.reload();
                    }
                    else
                        $.gyAlert({
                            title: "删除失败",
                            contentText: rel.substring(5),
                            cancelButton: false
                        });
                });
            },
            cancelButtonText: "取 消"
        });
    }
    $(document).ready(function () {
        initTable();
        $("#uploadProfessors").click(function () {
            $("#batchAdd-professors-modal").modal('show');
        });
        $("#addProfessor").click(function () {
            $("#directAdd-professor-modal").modal('show')
        });
        $("#addProfessor-submit-button").click(function () {
            if ($("#name-input").val().trim() == "") {
                $("#name-input").addClass("error-input");
                return;
            }
            var data = {
                'name': $("#name-input").val(),
                'number': $("#number-input").val(),
                'rank': $("#rank-input").val(),
                'maxstudent': $("#maxstudent-input").val(),
                'url': $("#url-input").val()
            }
            $.post("/Admin/addSingleProfessor", data, function (rel) {
                if (rel == "success") {
                    table.ajax.reload();
                }
                else
                    $.gyAlert({
                        title: "添加失败",
                        contentText: rel.substring(5),
                        cancelButton: false
                    });
            });
            //alert("name:" + data.name + " number:" + data.number + " rank:" + data.rank + " maxstudent:" + data.maxstudent + " url:" + data.url + " needstudent:" + data.needstudent);

            $("#directAdd-professor-modal").modal('hide');
        });
    });

    //    $("#change_password_submit_button").click(function () {
    //        var data = {
    //            'password': $("#password_input").val(),
    //        }

    //        $.post("/Gao_Home/changePassword", data, function (rel) {
    //            alert(rel);
    //            $("#change_password_modal").modal('hide');
    //        })
    //    })
    var initTable = function () {
        $('#example1').DataTable({
            ajax: {
                //url: 'https://www.easy-mock.com/mock/5b1fe0f0f71e0743260935e1/example/getProInfo',
                url:'/Admin/getProfessors',
                dataSrc: 'data'
            },
            "columns": [
                { data: "proName" },
                { data: "proTitle" },
                { data: "proQuota" },
                { data: "ProFirstNum" },
                { data: "ProSecondNum" },
                { data: "ProAssignNum" },
                { data: "ProRestNum" },
                {
                    data: function (row, type, set, meta) {
                        return [
                            '<button type="button" class="btn btn-block btn-info btn-check-professor" style="width:45%;display:inline;vertical-align:baseline;" onclick="checkprofessor(this)"> 查看</button> ',
                            '<button type="button" class="btn btn-block btn-success btn-delete-professor" style="width:45%;display:inline;vertical-align:baseline;" onclick="deleteprofessor(this)"> 删除</button> ',
                        ].join('');
                    }
                },
            ]
        });
    };

    $("#input-file").fileinput({
        language: 'zh', //设置语言
        uploadUrl: '/Admin/batchCreateTeachers',
        allowedFileExtensions: ['xlsx', 'xls'],//接收的文件后缀
    });
</script>
