@{
    ViewBag.Title = "教务教师列表";
    ViewBag.CurrentTab = "jiaowu";
    ViewBag.BoxTitle = "教务教师列表";
    ViewBag.Role = "Admin";

}
@section css{
    <link href="~/Content/plugins/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/fileinput/css/fileinput.min.css" rel="stylesheet" />
}

<div id="page-wrapper">
    <div style="padding-left:10px;padding-top:10px;padding-bottom:15px">
        <button id="upload-dean-btn" class="btn btn-primary bg-light-blue color-palette" style="width:120px;">上传教务教师</button>
        <button id="add-dean-btn" class="btn btn-primary bg-green color-palette" style="width:120px;margin-left:5px;">新增教务教师</button>
    </div>
    <div class="box-body">
        <div id="dean-table-div" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table id="dean-table" class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th style="width: 55px;">序号</th>
                                <th style="width: 65px;">姓名</th>
                                <th style="width: 55px;">教师工号</th>
                                <th style="width: 60px;">负责专业方向</th>
                                <th style="width: 120px;">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div style="clear:both"></div>
<!-- /. PAGE INNER  -->
<!-- /. PAGE WRAPPER  -->
<!--以上是直接新增教师模态框-->
<div class="modal fade" id="add-dean-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">新增教务教师</h4>
            </div>
            <div class="modal-body">
                <div style="text-align:center">
                    <div style="padding:8px 0px">
                        <label style="width:100px;text-align:right">工号:</label>
                        <input id="id-input" type="text" class="form-control" placeholder="请输入工号" style="width:calc(60% - 100px);margin-left:25px;margin-right:30px;display:inline-block">
                    </div>
                    <div style="padding:8px 0px">
                        <label style="width:100px;text-align:right">姓名:</label>
                        <input id="name-input" type="text" class="form-control" placeholder="请输入姓名" style="width:calc(60% - 100px);margin-left:25px;margin-right:30px;display:inline-block">
                    </div>
                    <div style="padding:8px 0px">
                        <label style="width:100px;text-align:right">负责专业方向:</label>
                        <select id="major-select" type="text" class="form-control" style="width:calc(60% - 100px);margin-left:25px;margin-right:30px;display:inline-block"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                <button id="submit-dean-btn" type="submit" class="btn btn-primary">确认提交</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--以下是批量创建教师模态框-->
<div class="modal" id="batch-add-dean-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>请上传xlsx或xls文件</h4>
            </div>
            <div class="modal-body">
                <a href="~/ExcelFiles/template/教师批量录入.xlsx" class="form-control" style="margin-bottom:10px">下载导入模板</a>
                <input id="file-input" type="file" data-preview-file-type="text" name="file">
            </div>
        </div>
    </div>
</div>
<!--以上是批量创建教师模态框-->
<!-- /. WRAPPER  -->
@section script{
    <script src="~/Content/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/plugins/fileinput/js/fileinput.min.js"></script>
    <script src="~/Content/plugins/fileinput/js/zh.js"></script>
    <script>
        function deleteDean(btn) {
            var tr = $(btn).closest('tr');
            var row = $('#dean-table').DataTable().row(tr).data();
            $.gyAlert({
                contentText: "确认删除该教务老师?",
                confirm: function () {
                    var data = {
                        id: row.Number
                    };
                    $.post("/Admin/deleteDean", data, function (rel) {
                        if (rel == "success") {
                            table.ajax.reload();
                        }
                        else
                            $.gyAlert({
                                title: "删除失败",
                                contentText: rel.substring(5),
                                cancelButton: false
                            });
                    });
                },
                cancelButtonText: "取 消"
            });
        }



        var userType = 0;
        $(document).ready(function () {
            initTable();

            $.get("/Admin/getAllMajor", function (rel) {
                var data = JSON.parse(rel);
                for (var i = 0; i < data.length; i++) {
                    $("#major-select").append('<option value="' + data[i].id + '">' + data[i].name + '</option>')
                }
            })

            $("#upload-dean-btn").click(function () {
                $("#batch-add-dean-modal").modal('show');
            });
            $("#add-dean-btn").click(function () {
                $("#add-dean-modal").modal('show')
            });
            $("#submit-dean-btn").click(function () {
                if ($("#name-input").val().trim() == "" || $("#name-input").val().trim() == "") {
                    $("#name-input,#id-input").addClass("error-input");
                    return;
                }

                var data = {
                    'name': $("#name-input").val(),
                    'number': $("#id-input").val(),
                    'major': $("#major-select").val(),
                }
                $.post("/Admin/addDean", data, function (rel) {
                    if (rel == "success") {
                        table.ajax.reload();
                    }
                    else
                        $.gyAlert({
                            title: "添加失败",
                            contentText: rel.substring(5),
                            cancelButton: false
                        });
                });
                $("#add-dean-modal").modal('hide');
            });
        });
        var initTable = function () {
            table=$('#dean-table').DataTable({
                ajax: {
                    url: '/Admin/getAllDeans',
                    dataSrc: ''
                },
                "columns": [
                    {
                        data: function (row, type, set, meta) {
                            return meta.row + 1;
                        }
                    },
                    { data: "TeacherName" },
                    { data: "Number" },
                    { data: "MajorResponsible" },
                    {
                        data: function (row, type, set, meta) {
                            return [
                                '<button type="button" class="btn btn-danger" onclick="deleteDean(this)">删除</button> '
                            ].join('');
                        }
                    },
                ]
            });
        }

        $("#file-input").fileinput({
            language: 'zh', //设置语言
            uploadUrl: '/Admin/addDeans',
            allowedFileExtensions: ['xlsx', 'xls'],//接收的文件后缀
        });
    </script>
}