@{
    ViewBag.Title = "Student";
    ViewBag.BoxTitle = "学生信息";
}
@section css{
    <link href="~/Content/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/fileinput.min.css" rel="stylesheet" />
}

<div id="page-wrapper">
    <div class="box">
        <div style="padding-left:10px;padding-top:10px">
            <button id="uploadStudents" class="btn btn-block btn-primary bg-light-blue color-palette" style="width:8%;display:inline;vertical-align:baseline;">上传学生</button>
            <button id="addStudents" class="btn btn-block btn-primary bg-green color-palette" style="width:8%;margin-left:5px;display:inline;vertical-align:baseline;">新增学生</button>
        </div>
        <div class="box-body">
            <div id="professor-table" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" data-field="OrderNumber" style="width: 55px;">序号</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" data-field="StuNumber" style="width: 65px;">学号</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" data-field="StuName" style="width: 60px;">姓名</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" data-field="Major" style="width: 70px;">专业方向</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" data-field="InfoCommited" style="width: 70px;">信息是否提交</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" data-field="TwoWillCommited" style="width: 70px;">是否两个志愿提交</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" data-field="FinalTutor" style="width: 70px;">最终确定导师</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 120px;" data-formatter="operateFormatter" data-align='center' data-events='operateEvents'>操作</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">序号</th>
                                    <th rowspan="1" colspan="1">学号</th>
                                    <th rowspan="1" colspan="1">姓名</th>
                                    <th rowspan="1" colspan="1">专业方向</th>
                                    <th rowspan="1" colspan="1">信息是否提交</th>
                                    <th rowspan="1" colspan="1">是否两个志愿提交</th>
                                    <th rowspan="1" colspan="1">最终确定导师</th>
                                    <th rowspan="1" colspan="1">操作</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>

</div>
<div style="clear:both">

    <!-- /. ROW  -->
</div>
<!-- /. PAGE INNER  -->
<!-- /. PAGE WRAPPER  -->
<!--以下是批量创建学生模态框-->
<div class="modal" id="batchAdd-students-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>请上传xlsx或xls文件</h4>
            </div>
            <div class="modal-body">
                <a href="~/ExcelFiles/template/教师批量录入.xlsx" class="form-control" style="margin-bottom:10px">下载导入模板</a>
                <input id="input-file" type="file" data-preview-file-type="text" name="file">
            </div>
        </div>
    </div>
</div>
<!--以上是批量创建学生模态框-->
<!--以下是直接新增学生模态框-->
<div class="modal" id="directAdd-students-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="height:480px">
            <div class="modal-header" style="padding-left:25px">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>新增学生</h4>
            </div>
            <div class="modal-body">
                <form style="height:80%">
                    <div class="row" style="width:45%;display:inline;vertical-align:baseline;padding-left:50px;">
                        <div class="column" style="float:left;padding-left:20px">
                            <label>姓名</label>
                            <input type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                        <div class="column" style="float:left;padding-left:50px">
                            <label>学号</label>
                            <input type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                    </div>
                    <div class="row" style="width:45%;display:inline;vertical-align:baseline;padding-left:50px;">
                        <div class="column" style="float:left;padding-left:20px">
                            <label>年龄</label>
                            <input type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                        <div class="column" style="float:left;padding-left:50px">
                            <label>专业</label>
                            <input type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                    </div>
                    <div class="row" style="width:45%;display:inline;vertical-align:baseline;padding-left:50px;">
                        <div class="column" style="float:left;padding-left:20px">
                            <label>电话</label>
                            <input type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                        <div class="column" style="float:left;padding-left:50px">
                            <label>在职</label>
                            <input type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                    </div>
                    <div class="row" style="width:45%;display:inline;vertical-align:baseline;padding-left:50px;">
                        <div class="column" style="float:left;padding-left:20px">
                            <label>邮箱</label>
                            <input type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                    </div>
                </form>
                <div style="float:right;padding-right:25px">
                    <button type="submit" class="btn btn-primary">确认提交</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--以上是直接新增学生模态框-->
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="~/Content/js/jquery.min.js"></script>
<!-- Bootstrap Js -->
<script src="~/Content/plugins/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="~/Content/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/Content/js/fileinput.min.js"></script>
<script src="~/Content/js/zh.js"></script>
<script>

    $('#example1').DataTable({
        ajax: {
            url: 'https://www.easy-mock.com/mock/5b1fe0f0f71e0743260935e1/example/getStuInfo',
            dataSrc: 'data'
        },
        "columns": [
            { data: "OrderNumber" },
            { data: "StuNumber" },
            { data: "StuName" },
            { data: "Major" },
            { data: "InfoCommited" },
            { data: "TwoWillCommited" },
            { data: "FinalTutor" },
            {
                data: function (row, type, set, meta) {
                    return [
                        '<button type="button" class="btn btn-block btn-info" style="width:25%;display:inline;vertical-align:baseline;">查看</button> ',
                        '<button type="button" class="btn btn-block btn-success" style="width:25%;display:inline;vertical-align:baseline;">删除</button> ',
                        '<button type="button" class="btn btn-block btn-primary" style="width:40%;display:inline;vertical-align:baseline;background-color:#3c8dbc">重置密码</button> '
                    ].join('');
                }
            },
        ]
    });
</script>

<script>

    var userType = 0;
    $(document).ready(function () {
        //initJaowu();
        $("#uploadStudents").click(function () {
            $("#batchAdd-students-modal").modal('show');
        });
        $("#addStudents").click(function () {
            $("#directAdd-students-modal").modal('show')
        });
    });

    //    $("#change_password_submit_button").click(function () {
    //        var data = {
    //            'password': $("#password_input").val(),
    //        }

    //        $.post("/Gao_Home/changePassword", data, function (rel) {
    //            alert(rel);
    //            $("#change_password_modal").modal('hide');
    //        })
    //    })


    //var initJaowu = function () {
    //    var s = document.cookie.split("=");
    //    userType = s[s.length - 1];
    //    if (userType == 1) {
    //        $("#timesetting").remove();
    //        $("#addProfessor").remove();
    //        $("#uploadStudents").remove();
    //        $("#jiaowuinfo").remove();
    //        $("#welcome").text("欢迎登陆 教务教师");
    //    } else {
    //        $("#welcome").text("欢迎登陆 管理员");

    //    }
    //};


    $("#input-file").fileinput({
        language: 'zh', //设置语言
        uploadUrl: '/Gao_Admin/batchCreateTeachers',
        allowedFileExtensions: ['xlsx', 'xls'],//接收的文件后缀
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        /*    initialPreview: "<div class='file-preview-text'>" +
"<h2><i class='glyphicon glyphicon-file'></i></h2>" +
"~/Content/img/bb.xlsx" + "</div>",
*/
        previewTemplates: "<img  src=\"~/Content/img/aa.jpg\"/>",
    });
</script>