@{
    ViewBag.Title = "Student";
    ViewBag.CurrentTab = "student";
    ViewBag.BoxTitle = "学生信息";
    ViewBag.Role = "Admin";
}
@section css{
    <link href="~/Content/plugins/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/fileinput/css/fileinput.min.css" rel="stylesheet" />
}

<div id="page-wrapper">
    <div style="padding:0 0 5px 15px" class="form-inline">
        <button id="upload-students-btn" class="btn btn-primary" style="margin-right:20px">上传学生</button>
        <button id="add-student-btn" class="btn btn-success" style="margin-right:20px">新增学生</button>
        <select id="filter-select" class="form-control">
            <option value="0">全部学生</option>
            <option value="1">没有提交信息学生</option>
            <option value="2">没有提交志愿学生</option>
            <option value="3">没有确定导师学生</option>
        </select>
    </div>
    <div class="box-body">
        <div id="student-table-div" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table id="student-table" class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr role="row">
                                <th style="width: 55px;">序号</th>
                                <th style="width: 65px;">学号</th>
                                <th style="width: 60px;">姓名</th>
                                <th style="width: 70px;">专业方向</th>
                                <th style="width: 70px;">信息是否提交</th>
                                <th style="width: 70px;">是否两个志愿提交</th>
                                <th style="width: 70px;">最终确定导师</th>
                                <th style="width: 120px;">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div style="clear:both">

    <!-- /. ROW  -->
</div>
<!-- /. PAGE INNER  -->
<!-- /. PAGE WRAPPER  -->
<!--以下是批量创建学生模态框-->
<div class="modal" id="batch-add-students-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>请上传xlsx或xls文件</h4>
            </div>
            <div class="modal-body">
                <a href="~/ExcelFiles/template/教师批量录入.xlsx" class="form-control" style="margin-bottom:10px">下载导入模板</a>
                <input id="file-input" type="file" data-preview-file-type="text" name="file">
            </div>
        </div>
    </div>
</div>
<!--以上是批量创建学生模态框-->
<!--以下是直接新增学生模态框-->
<div class="modal fade" id="add-student-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新增学生</h4>
            </div>
            <div class="modal-body">
                <form style="height:80%">
                    <div class="row" style="width:45%;display:inline;vertical-align:baseline;padding-left:50px;">
                        <div class="column" style="float:left;padding-left:20px">
                            <label>姓名</label>
                            <input id="name-input" type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                        <div class="column" style="float:left;padding-left:50px">
                            <label>学号</label>
                            <input id="id-input" type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                    </div>
                    <div class="row" style="width:45%;display:inline;vertical-align:baseline;padding-left:50px;">
                        <div class="column" style="float:left;padding-left:20px">
                            <label>年龄</label>
                            <input id="age-input" type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                        <div class="column" style="float:left;padding-left:50px">
                            <label>专业</label>
                            <select id="major-select" class="form-control" style="width:200px"></select>
                        </div>
                    </div>
                    <div class="row" style="width:45%;display:inline;vertical-align:baseline;padding-left:50px;">
                        <div class="column" style="float:left;padding-left:20px">
                            <label>电话</label>
                            <input id="telephone-input" type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                        <div class="column" style="float:left;padding-left:50px">
                            <label>在职</label>
                            <input id="isworking-input" type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                    </div>
                    <div class="row" style="width:45%;display:inline;vertical-align:baseline;padding-left:50px;">
                        <div class="column" style="float:left;padding-left:20px">
                            <label>邮箱</label>
                            <input id="email-input" type="text" class="form-control" placeholder="" style="width:200px;">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                <button id="add-student-submit-btn" type="submit" class="btn btn-primary">确认提交</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--以上是直接新增学生模态框-->
<!--以下是修改密码模态框-->
<div class="modal" id="set-password-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">设置密码</h4>
            </div>
            <div class="modal-body">
                <div style="text-align:center">
                    <div style="padding:8px 0px">
                        <label style="width:100px;text-align:right">密码:</label>
                        <input id="password-input" type="text" class="form-control" placeholder="请输入密码" style="width:calc(60% - 100px);margin-left:25px;margin-right:30px;display:inline-block">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                <button id="password-submit-btn" type="submit" class="btn btn-primary">确认提交</button>
            </div>
        </div>
    </div>
</div>
<!--以上是修改密码模态框-->
<!-- /. WRAPPER  -->
<!-- DataTables -->
<script src="~/Content/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/Content/plugins/fileinput/js/fileinput.min.js"></script>
<script src="~/Content/plugins/fileinput/js/zh.js"></script>
<script>
    //下拉框筛选学生
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var type = $('#filter-select').val();
            switch (type) {
                case "0": return true;
                case "1":
                    if (data[4] == "否")
                        return true;
                    break;
                case "2":
                    if (data[5] == "否")
                        return true;
                    break;
                case "3":
                    if (data[6] != "")
                        return true;
                    break;
                default: return false;
            }
            return false;
        }
    );

    $("#filter-select").change(function () {
        $('#student-table').DataTable().draw()
    });

    function viewStudentInfo(btn) {
        var tr = $(btn).closest('tr');
        var row = $('#student-table').DataTable().row(tr).data();
        window.open("https://www.baidu.com?" + row.url);
    }
    function deletestudent(btn) {
        var tr = $(btn).closest('tr');
        var row = $('#student-table').DataTable().row(tr).data();
        $.gyAlert({
            contentText: "确认删除该学生吗?",
            confirm: function () {
                var data = {
                    userId: row.id
                };
                $.post("/Admin/deleteStudentById", data, function (rel) {
                    if (rel == "success") {
                        table.ajax.reload();
                    }
                    else
                        $.gyAlert({
                            title: "删除失败",
                            contentText: rel.substring(5),
                            cancelButton: false
                        });
                });
            },
            cancelButtonText: "取 消"
        });

    }

    function setStudentPassword(btn) {
        var tr = $(btn).closest('tr');
        var row = $('#student-table').DataTable().row(tr).data();
        $("password-input").attr("student-id", row.id);
        $("#set-password-modal").modal('show');
    }

    $.get("https://www.easy-mock.com/mock/5c8368e622c6e01a284aae50/selection-mock/getMajor", function (data) {
        for (var i = 0; i < data.length; i++) {
            $("#major-select").append('<option value="' + data[i].id + '">' + data[i].name + '</option>')
        }
    })

    $(document).ready(function () {
        initTable();
        $("#upload-students-btn").click(function () {
            $("#batch-add-students-modal").modal('show');
        });
        $("#add-student-btn").click(function () {
            $("#add-student-modal").modal('show');
        });

        $("#password-submit-btn").click(function () {
            if ($("#password-input").val().trim() == "") {
                $("#password-input").addClass("error-input");
                return;
            }
            
            var data = {
                'password': $("#password-input").val(),
                'id': $("password-input").attr("student-id")
            }
            $.post("/Admin/setStudentPassword", data, function (rel) {
                if (rel == "success") {
                    table.ajax.reload();
                    $("#set-password-modal").modal('hide');
                }
                else
                    $.gyAlert({
                        title: "修改失败",
                        contentText: rel.substring(5),
                        cancelButton: false
                    });
            });
        });

        $("#add-student-submit-btn").click(function () {
            if ($("#name-input").val().trim() == "" || $("#name-input").val().trim() == "") {
                $("#name-input,#id-input").addClass("error-input");
                return;
            }


            var data = {
                'name': $("#name-input").val(),
                'id': $("#id-input").val(),
                'age': $("#age-input").val(),
                'major': $("#major-select").val(),
                'telephone': $("#telephone-input").val(),
                'isworking': $("#isworking-input").val(),
                'email': $("#email-input").val(),
            }
            $.post("/Admin/addStudent", data, function (rel) {
                if (rel == "success") {
                    table.ajax.reload();
                }
                else
                    $.gyAlert({
                        title: "添加失败",
                        contentText: rel.substring(5),
                        cancelButton: false
                    });
            });
            $("#directAdd-professor-modal").modal('hide');
        });
    });

    var initTable = function () {
        $('#student-table').DataTable({
            ajax: {
                url: 'https://www.easy-mock.com/mock/5b1fe0f0f71e0743260935e1/example/getStuInfo',
                dataSrc: 'data'
            },
            "columns": [
                {
                    data: function (row, type, set, meta) {
                        return meta.row + 1;
                    }
                },
                { data: "StuNumber" },
                { data: "StuName" },
                { data: "Major" },
                { data: "InfoCommited" },
                { data: "TwoWillCommited" },
                { data: "FinalTutor" },
                {
                    data: function (row, type, set, meta) {
                        return [
                            '<button type="button" class="btn btn-info" style="margin-right:15px" onclick="viewStudentInfo(this)">查看</button> ',
                            '<button type="button" class="btn btn-success" style="margin-right:15px" onclick="deletestudent(this)">删除</button> ',
                            '<button type="button" class="btn btn-primary" style="background-color:#3c8dbc" onclick="setStudentPassword(this)">重置密码</button> '
                        ].join('');
                    }
                },
            ]
        });
    }


    $("#file-input").fileinput({
        language: 'zh', //设置语言
        uploadUrl: 'https://www.easy-mock.com/mock/5c8324b3e0e0f75c24623747/selection/file?batchAddStudents',
        allowedFileExtensions: ['xlsx', 'xls'],//接收的文件后缀
    });
</script>