/* ↓ 解决多次modal导致的页面左移，源于https://blog.csdn.net/zh921112/article/details/64476134 */
body {
    padding-right: 0px !important;
}

*.modal-open{
    padding-right:0px !important;
}
/* ↑ 解决多次modal导致的页面左移，源于https://blog.csdn.net/zh921112/article/details/64476134 */

/*公共模版部分*/
.tab-container{
    height:50px;
    display:flex;
    font-size:15px;
    color:#ccc;
}
.page-tab:hover {
    color:white;
}

.error-input{
    border-color:#d73925!important
}
